html {
  <<<<<<< HEAD background-color: darkgray;
}

.navbarBackground {
  background-color: darkgray;
  =======background-color: rgb(219, 177, 114);
}

.navbarBackground {
  background-color: rgb(219, 177, 114);
  >>>>>>>60eca0e3503589de4e0fc19a90787e0d3f5da645
}

.containerWhite {
  background-color: rgb(179, 156, 121);
}

.hover:hover {
  text-decoration: line-through;
  text-decoration-color: solid black;
  text-decoration-thickness: 1px;
}

body {
  margin: 0;
  padding: 0;
}

.parallax-container {
  height: 100%vh;
}

section {
  width: 100%;
  min-height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .content {
  max-width: 1000px;
  margin: 0 auto
}

.space {
  margin-top: 3%;
}

/*start login additions */
#loginimg {
  background-image: url('../images/Fortnite\ 4k.jpg');
  background-position: center top;
  width: 100%;
}

.loginBackG {
  background-color: aliceblue;
  padding-bottom: 7px;
}

#loginPush {
  margin-top: 5%;
}
/* end login additions */

/* start register additions */
#registerimg {
  background-image: url('../images/mirror\ cropped\ astronomical.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
}
/* end register additions */

